* {
	padding: 0;
	margin: 0;
}

body, html {
	height: 100%;
	min-height: 100%;
	position: relative;
}

a, input, button {
	list-style: none;
	outline: none;
}

main {
	min-height: 450px;
	width: 100%;
	height: 80%;
	z-index: 50;
}

footer {
	text-align: center;
	font-size: 15px;
	color: #767676;
	height: 5px;
}

.dropdown li:hover {
	background: rgba(0, 0, 0, 0.5);
}

#content {
	float: right;
	width: 80%;
}

.row aside ul {
	margin-left: 20px;
}

.row aside ul li {
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 18px;
}

.row aside ul li a {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.nav-pills>li.active>a {
	color: #fff;
	background-color: #428bca
}

.nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background: #1074ca;
}

.float-right {
	float: right;
}

.warning-color {
	color: red !important;
}

.ad {
	background: url("../images/logo.jpg") no-repeat 0 0 transparent;
}
body{
  overflow: hidden;
  font-family: "΢���ź�";
  margin: 0; 
  padding: 0;
  position: relative;
  width: auto;
  height:auto;
  background:url("../images/timg.jpg") no-repeat;
  background-position: center;
  background-size: 100%;
}

/* 特殊 */
.showdiv{
	margin-top: -85px;
	min-height: 900px;
}
.s-thirdItem,.s-secondItem{
	cursor: pointer !important;
}
